.base-main-container {
  /* @apply w-full h-full min-h-screen bg-black mb-16 sm:mb-0 text-white; */
  @apply w-full h-full min-h-screen bg-dark-primary mb-0 text-white;
}

.nav-anchor {
  @apply bg-white hover:bg-light-purple font-bold;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-anchor-active {
  @apply bg-light-purple font-bold;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
